.bg-image {
  background-image: url("Imagenes integrador/ba3.jpg");
  opacity: 85%;
  background-size: cover;
  background-position: center;
  height: 300px;

  padding: 1rem;
  overflow: hidden;
}
#lorem {
  font-size: 1rem;
  text-shadow: -3px -3px 3px #0f0f0f, 3px -3px 3px #0a0a0a, -3px 3px 3px #616161,
    3px 3px 3px #6e6e6d;
}
div > p {
  text-align: center;
  color: white;
}
.stroke {
  color: #faf7f7;
  font-family: impact;
  font-size: 40px;
  letter-spacing: 0;
  text-shadow: -3px -3px 3px #0f0f0f, 3px -3px 3px #0a0a0a, -3px 3px 3px #616161,
    3px 3px 3px #6e6e6d;
  text-align: end;
}
.introCards {
  background-color: black;
  color: white;
  padding: 2rem;
  text-align: center;
}
